<?xml version="1.0" encoding="UTF-8" ?>

<configuration status="TRACE" packages="com.demo.api">
  <!-- Appenders -->
  <appenders>
    <!-- Console -->
    <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
      <PatternLayout
              pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${hostName}] [%level] [%c] [%X] - %msg%n"/>
    </Console>
    <!-- log files -->
    <RollingFile name="AppLogFile" fileName="app.log"
                 filePattern="app-%i.log" append="true" immediateFlush="true"
                 ignoreExceptions="false">
      <PatternLayout
              pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${hostName}] [%level] [%c] [%X] - %msg%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </appenders>

  <!--Loggers-->
  <loggers>
    <root level="INFO">
      <appender-ref ref="Console"/>
      <appender-ref ref="AppLogFile"/>
    </root>
    <logger name="AppLogFile" level="INFO"
            additivity="false">
      <appender-ref ref="AppLogFile"/>
    </logger>
  </loggers>
</configuration>